* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    font-family: 'Lato', sans-serif;
}

.card {
    margin: 100px auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-body {
    padding: 35px;
}

h1 {
    font-size: 25px;
    font-weight: 700;
}

.invFeetback {
    height: 20px;
    color: red;
}